/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body htmls {
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	background-color: beige;
	width: 1000px;
	margin: 0 auto;
}

.header {
	background-color: mintcream;
	height: 70px;
}

.footer {
	background-color: mintcream;
	height: 50px;
 }

 .footer-text {
 	font-weight: bold;
 	font-size: smaller;
 	text-align: center;
 }

 .menu-bar {
 	display: inline-block;;
 	vertical-align: top;
 }

.menu li {
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 20px;
	list-style-type: none;
	display: inline;
	margin-left: 15px;
}

.menu li a {
	color: #A15151;
	text-decoration: none;
}

.menu li a:hover {
	color: darkblue;
}

.content {
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

